* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.theme-default-content:not(.custom),.page-edit,.page-nav {
  margin: 0 1rem;
  max-width: 800px
}

.click-span {
  font-size: 14px;
  position: fixed;
  z-index: 999;
  animation: span-animation 1.5s linear;
  opacity: 0;
  user-select: none;
}
@keyframes span-animation {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5) translateY(-100px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateY(-200px);
  }
}

.home .hero img {
  border-radius: 10px;
  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3)
  }
}
